<h1>Contact</h1><br>
<p>If you have any questions to ask, contact the following persons : </p>
<ul>
  <li><a href='https://github.com/ysalien'>Ysaline</a></li>
  <li><a href='https://github.com/Natdenice'>Nat</a></li>
  <li><a href='https://github.com/TomacTh'>Tom</a></li>
  <li><a href='https://github.com/NikitaVasilev'>Nikita</a></li>
  <li><a href='https://github.com/tutus06'>Arthur</a></li>
</ul>
