<h1> Welcome to the club !</h1><br><br>
<p><img src="https://focus.levif.be/medias/9325/4774539.jpg" alt="Fight Club" /></p>
<% if logged_in? %>
<p> <a href="/users" class="btn btn-primary">All Users</a></p>
<% else %>
<p>Register your self to have a look at all our users ! </p>
<% end %>
